<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363597703824-ots7uc9ivnm885rs39nfvbp6a073d4p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363597703824-ots7uc9ivnm885rs39nfvbp6a073d4p5</string>
	<key>API_KEY</key>
	<string>AIzaSyBSvZTudayCqt_H-sN1GZAWnjRHIx_-8SE</string>
	<key>GCM_SENDER_ID</key>
	<string>363597703824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jogeunjogeun.MeetingNMusae</string>
	<key>PROJECT_ID</key>
	<string>meetingnmusae-2b1e0</string>
	<key>STORAGE_BUCKET</key>
	<string>meetingnmusae-2b1e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363597703824:ios:318cce5cd804e51bad4615</string>
</dict>
</plist>